.content-wrapper {
    display: flex;
    justify-content: space-between;
    height: 110vh !important;
}

.entry-page {
    min-width: 70%;
    overflow-y: auto !important;
    padding-bottom: 2em;
}

.entry-content-wrapper {
    min-height: 80vh;
}

.entry-date {
    font-size: 1.5rem;
}

.entry-text {
    font-size: 1.15rem;
    line-height: 1.5;
    border: none;
    font-family: sans-serif;
    width: 40vw;
    resize: none;
    overflow-y: hidden;
}

.entry-text:focus {
    border: none;
    outline: none;
}

.entry-text-dark {
    color: white;
    background: #2c2e30;
    scrollbar-color: dark;
}

.entry-settings {
    display: flex;
    justify-content: space-between;
    height: 2vh;
    margin: 0.5em 2em;
}

.entry-settings form {
    display: inline;
}

.entry-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center !important;
}

.save-entry-btn {
    color: white;
    background: var(--blue);
    border: none;
    padding: 8px 35px;
    font-size: 1.25rem;
    border-radius: 20px;
    margin: 1em 0;
}

.icon {
    font-size: 1.5rem;
    color: gray;
    padding: 0.5em;
    border-radius: 10px;
    transition: 0.5s ease;
}

.icon:hover {
    background: #ededeb;
}

#bars-icon {
    display: none;
}

#bars-icon-close {
    margin: 0.3em 1.3em;
    display: none;
}

#entry-img {
    display: none;
}

.entry-imgs-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entry-img {
    max-width: 40vw;
    margin: 1em 0;
    border: 2px solid lightgray;
    border-radius: 10px;
}

@media all and (max-width: 1200px) {
    .entry-content-wrapper {
        min-width: 85%;
        text-align: center;
    }

    .entry-text {
        min-width: 80%;
    }
}

@media all and (min-width: 1024px) {
    #bars-icon-close {
        display: none !important;
    }
}

@media all and (max-width: 1024px) {
    .entry-page {
        width: 100vw;
    }

    .content-wrapper {
        display: block;
    }

    .entry-img {
        max-width: 80%;
    }

    #bars-icon {
        display: block;
    }
}