.sidebar {
    border-right: 1px solid lightgray;
    width: 30vw;
    height: 100vh;
    margin-top: 2em;
    overflow-y: scroll;
}

.entry {
    display: flex;
    padding: 5px 10px 5px 0;
    border-bottom: 1px solid lightgray;
}

.active {
    color: white;
    background: var(--blue);
}

.date-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    min-width: 50px !important;
    max-width: 50px !important;
    font-weight: bold;
    color: black;
    background: white;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.day {
    font-size: 0.85rem;
}

.date {
    font-size: 1.25rem;
}

.day,
.date {
    margin: 4px 2px;
}

.content-short {
    font-size: 0.85rem;
}

.options-menu {
    position: absolute;
    display: none;
    width: 10em;
    opacity: 90%;
    border: 2px solid lightgray;
    border-radius: 10px;
    background: #F1f1f1;
}

.menu-active {
    padding: 0;
    display: block;
}

.options-menu-item {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.1rem;
    list-style-type: none;
    padding: 10px 5px;
    transition: 0.15s ease;
}

.options-menu-item:hover {
    color: white;
    background: var(--blue);
}

.options-menu-icon {
    margin-right: 5px;
}