body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --blue: #45c0ff;
  min-width: 100vw;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  height: 100%;
}

html {
    overflow: hidden;
}

.dark {
    color: white;
    background: #2c2e30;
    scrollbar-color: dark;
}

.light {
    color: black;
    background: white;
}